<!-- -*- encoding: utf-8; mode: html; tab-width: 4; indent-tabs-mode: nil -*- -->
<div class="container">    
    <% if @builds.size > 0 %>
        <div class="row">
            <div class="span12">
                    <div class="alert alert-block <%= status_class @current_build.status %>">
                        <a class="pull-right" style="color: inherit" href="/projects/<%= uh @project.name %>/settings"><i class="icon-cogs"></i></a>
                        <h2><%= h @project.name %></h2>
                        <p>Build <%= h @current_build.commit_version.to_s[0..9] %> <%= status_name @current_build.status %> at <%= @current_build.updated_at %></p>
                        <p><em><%= h @current_build.commit_message %>&nbsp;</em></p>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <div id="build-output" class="box"><pre><%= h @current_build.output %></pre></div>
                <script type="text/javascript">if (o = document.getElementById('build-output')) { o.scrollTop = o.scrollHeight; }</script>
            </div>
        </div>
        <h2>Builds</h2>
        <% for @build in @builds.reverse %>
            <div class="row">
                <div class="span12">
                    <a href="/projects/<%= uh @project.name %>/build/<%= @build.id %>">
                        <div class="alert alert-block <%= status_class @build.status %>">
                            <p>Build <%= h @build.commit_version.to_s[0..9] %> <%= status_name @build.status %> at <%= @build.updated_at %></p>
                            <p><em><%= h @build.commit_message %>&nbsp;</em></p>
                        </div>
                    </a>
                </div>
            </div>
        <% end %>
    <% else %>
        <div class="row">
            <div class="span12">
                <div class="alert alert-block alert-info">
                    <h2><%= @project.name %></h2>
                    <p>No builds yet</p>
                    <p>No repository checkout yet</p>
                </div>
            </div>
        </div>
    <% end %>    
</div>
