<!-- -*- encoding: utf-8; mode: html; tab-width: 4; indent-tabs-mode: nil -*- -->
<% if @user.persisted? %>
    <h1>Edit user</h1>
<% else %>
	<h1>Create new user</h1>
<% end %>
<p>&nbsp;</p>

<form id="users-form" class="form-horizontal" role="form" method="post" action="/users<%= "/#{@user.id}" if @user %>">
    <div class="form-group">
        <label for="email" class="col-lg-2 control-label">E-mail: </label>
        <div class="col-lg-10">
            <input type="email" class="form-control" id="email" name="email" placeholder="E-mail" value="<%= h @user.email if @user %>">
            <%= e(:email, '<p class="error">Error message(s): %s</p>') %>
            <p>Must be a unique e-mail address</p>
        </div>
    </div>

    <div class="form-group">
        <label for="password" class="col-lg-2 control-label">Password: </label>
        <div class="col-lg-10">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            <%= e(:password, '<p class="error">Error message(s): %s</p>') %>
            <input type="password" class="form-control" id="password_confirmation" name="password_confirmation" placeholder="Confirm password">
            <%= e(:password_confirmation, '<p class="error">Error message(s): %s</p>') %>
            <p>Must be at least 7 chars long. Confirm password by writing it in both input fields.</p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Role: </label>
        <div class="col-lg-10">
            <input id="admin" type="checkbox" name="admin" value="1" <%= 'checked="checked"' if @user.persisted? and @user.admin %> /> 
            <label for="admin">Administrator</label>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Projects: </label>
        <div class="col-lg-10">
        <% for @project in @projects %>
            <div class="checkbox-item">
                <input
                    id="project-<%= @project.id %>"
                    type="checkbox" 
                    name="projects[<%= @project.id %>]" 
                    value="1"
                    <%= 'checked="checked"' if @user.persisted? and (!!@user_projects.index(@project.id) || @user.admin) %>
                    <%= "disabled" if @user.persisted? and @user.admin %>
                /> 
                <label for="project-<%= @project.id %>"><%= h @project.name %></label>
            </div>
        <% end %>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
        	<% if @user.persisted? %>
        		<a href="#" class="btn btn-danger" onclick="location.href='/users/<%= @user.id %>/delete';">Delete</a>
        	<% end %>
        	<a href="/users" class="btn btn-default">Cancel</a>
            <a href="#" class="btn btn-primary" onclick="document.getElementById('users-form').submit();">Save</a>
        </div>
    </div>
</form>
